@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Zen+Old+Mincho:wght@400;900&display=swap');
:root{
    --p_color: #153243;
    --s_color: #E9E3E6;
    --p_text_color:#FFF;
    --p_font:"Zen Old Mincho", serif;
    --s_font: "Roboto", serif;
}
body{
    margin: 0;

}

header{
    background-color: var(--p_color);
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    
}
h1{
    margin:0 10px 5px 5px;
}
h1,h2{
    color: var(--p_text_color);
    text-align: center;
    font-weight: 900;
    font-style: normal;
    font-family: var(--p_font);
}
h3{
    text-align: center;
    margin: 0;
    font-family: var(--p_font);
}
p:not(.primary_text){
    font-family: var(--s_font);
}
main{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 10px;
}
section{
    background-color: var(--s_color);
    padding: 10px;
    border-radius: 15px;
    
}
div{
    height: 50px;
}
footer{
    background-color: var(--s_color);
    padding: 10px;
    margin-top: 10px;
}
.color_schema{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
}
.color_schema h3{
    grid-column: 1/3;
}
.primary_text{
    font-weight: 900;
}
.secondary_text{
    font-family: var(--s_font);
}
#box1{
    background-color: #153243;
}
#box2{
    background-color: #9A8F97;
}
#box3{
    background-color: #C3BABA;
}
#box4{
    background-color: #E9E3E6;
}
#box5{
    background-color: #B2B2B2;
}