@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Zen+Old+Mincho:wght@400;900&display=swap');
:root{
    --frist-color: #153243;
    --second-color: #9A8F97;
    --third-color: #C3BABA;
    --fourth-color:#E9E3E6;
    --fith-color:#B2B2B2;
    
}